.socialLinks {
    display: flex;
    flex-direction: column;
    width: 2.5rem;
    padding: 1rem;
    margin-left: 4.2rem;
    justify-content: space-evenly;
    gap: 1.2rem;
    /* border: 1px solid #2F303A;
    border-radius: 50px;
    background: #161616; */
    align-items: center;
    text-align: center;
    position: sticky;
    bottom: 30px;
}

.socialLinks svg {
    margin-top: 0.6rem;
    transition: var(--transition);
}

.socialLinks svg:hover {
    transform: scale(1.5);
}