.gradient {
    background: linear-gradient(to bottom right,
            #EA9863,
            #B00AFC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:
        transparent;
}

.headline {
    padding: 3rem 0;
    margin: 25rem auto;
    width: 475px;
}

.headline h1 {
    font-size: 5rem;
    line-height: 1;
}

.title {
    display: block;
    font-weight: lighter;
    font-size: medium;
    text-align: start;
    margin-left: 3.2rem;
}