.App {
  text-align: center;
  /* position: relative; */
}

.landing {
  min-height: 100vh;
  padding: 0;
}

section {
  padding: 0 2rem;
  border: 1px solid transparent;
}

@media (max-width: 526px) {
  section {
    padding: 1rem;
  }
}