.navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navLinks:hover {
    background: var(--color-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: 
    transparent;
    transition: var(--transition);
}

  .navLinks {
    margin-right: 2rem;
  }

  .resumeLink {
        width: max-content;
        display: inline-block;
        color: var(--color-highlight);
        background-color: transparent;
        padding: 0.5rem 0.8rem;
        border-radius: 0.4rem;
        cursor: pointer;
        border: 1px solid var(--color-highlight);
        transition: var(--transition);
  }
.resumeLink:hover {
    background-color: var(--color-highlight-variant);
    color: #fff;
    border-color: transparent;
  }